:root {
  --font-base: Roboto, sans-serif;
  --bg-color-primary: #2e3142;
  --text-color-primary: #2e3142;
  --link-color-primary: #1696e0;
  --button-bg-color-primary: #1696e0;
  --button-text-color-primary: white;
}

.hamburger-menu {
  cursor: pointer;
}

.visible {
  display: flex;
}
